@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

.button-ingredient {
  color: black;
  cursor: pointer;
  display: block;
  position: relative;
  border: 2px solid #E91E63;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.button-ingredient:hover {
  color: #fff !important;
  background-color: #E91E63;
  text-shadow: nthree;
}
