.cards {
  padding-top: 40px;
  flex-wrap: wrap;
  border-radius: 2px;
  background: black;
}

.cards a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: medium;
  font-family: roboto;
}

.card-photo {
  display: flex;
  justify-content: center;
  padding-left: 0px;
  border-radius: 5px;
}

.card-name {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 30px;

}

.cocktail-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cocktail-card-image {
  height: 500px;
  object-fit: cover;
  max-width: 100%;
}
