.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
  border: 1px solid transparent;
  background-color: black;
}

.fas {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  font-size: 30px;
  color: #df1ee9a1;
  padding-right: 15px;
}
