// Place all the styles related to the Cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#wrapper {
  min-height: 100%;
  position: relative;
}

.cocktail-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 10vh;
  width: 100%;
  min-height: 100%;
  position: relative;
  background-color: black;

  a {
    color: #df1ee9a1;
    text-decoration: none;
  }

  li {
    background-color: black;
  }
}

.cocktail-info {
  font-size: 20px;
  font-family: 'Roboto', bold;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 20px;
}

.cocktail-info h1 {
  font-size: 50px;
  font-family: 'Roboto';
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 20px;
  color: white;
}

.cocktail-form {
  padding-top: 20px;
}

.add-cocktail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  min-height: 100%;
  background: black;
}

.add-info {
  font-size: 20px;
  font-family: 'Roboto', bold;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 20px;

  h1 {
    font-size: 50px;
    font-family: 'Roboto';
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    padding-bottom: 20px;
    color: white;
  }
}

.fa-plus {
  color: #df1ee9a1;
}

.reviews {
  color: white;
  font-family: roboto;
  font-weight: bold;
}
